<ion-app>
  <ion-split-pane when="false" contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu Lateral</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="'despacho'">
              <ion-icon slot="start" [name]="'list'"></ion-icon>
              <ion-label>
                Despacho
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu> 
  <ion-router-outlet id="main-content">
    
  </ion-router-outlet>
</ion-split-pane>
</ion-app>

